/* Style the header with a grey background and some padding */
:root{
  --bs-dodgerblue:dodgerblue;
  --bs-white:rgba(255, 255, 255, 0.863);
  --bs-black:black;
  --bs-box-shadow: rgba(40,47,209,0.45);
  --bs-border-color:rgba(0, 0, 0, 0.2);
  --bs-success-rgb: 25, 135, 84;
  --bs-font-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--bs-font-sans-serif);
}
.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bs-white);
  box-shadow: 1px 1px 5px 0px var(--bs-box-shadow);
-webkit-box-shadow: 1px 1px 5px 0px rgba(40,47,209,0.45);
-moz-box-shadow: 1px 1px 5px 0px rgba(40,47,209,0.66);
z-index: 1001;
}

/* Style the header links */
.nav a{
  float: left;
  color: var(--bs-black);
  text-align: center;
  padding: 12px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  border-radius: 4px;
}

 /*Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
 
/*reduire la taille de l'image et positionner en full left*/
.nav a.logo{
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    padding: 0;
    margin-right: 40px;
    display: flex;
    align-items: center;
    text-align: left;
}


.nav img{
    height: 100px;
    margin-right: 10px;
}

.nav p{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-left: 8px solid var(--bs-dodgerblue)
}

.nav .titre{
    font-family:"Caricatura", var(--bs-font-sans-serif);
    font-size: 30px;
    text-transform: uppercase;
    color: var(--bs-dodgerblue);
}

.nav .nav-right a{
  text-transform: uppercase;
  border: 1px solid var(--bs-border-color);
  transition: all 0.3s ease-out;
}

/* Change the background color on mouse-over */
.nav .nav-right a:hover{
  background-color: var(--bs-border-color);
  color: var(--bs-black);
}


/* Style du lien active ou en cours*/
.nav a.active {
  background-color: var(--bs-dodgerblue);
  color: var(--bs-white);
}

.nav-gauche{
  display: block;
  align-items: center;
}


/* Floater les liens de la section à droite */
.nav-right {
    padding: 20px 10px;
    align-items: center;
    text-align: center;
    float: right;
}


/* bouton menu responsive */

.nav .check-btn{
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 10px;
  background-color: var(--bs-dodgerblue);
  color: var(--bs-white);
  border: 2px solid var(--bs-border-color);
  border-radius: 5px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


/*  le header */

.header{
  width: 100%;
  background-color: var(--bs-dodgerblue);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 100px 50px;
}

.header img{
  height: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 100%;
}

.header .h1{
  font-size: 60px;
  font-family: "Caricatura", var(--bs-font-sans-serif);
  text-transform: uppercase;
  color: var(--bs-white);
  margin-bottom: 0;
}

.header p{
  font-size: 30px;
  font-weight: bold;
  color: var(--bs-white);
  margin: 0;
}
.header hr{
  height: 5px;
  width: 120px;
  background-color: var(--bs-white);
  border-radius: 15px;
  border: none;
}
.header .btn-1{
  margin: 30px 0;
}

.header .btn-1 a{
  color: var(--bs-dodgerblue);
  background-color: var(--bs-white);
  text-align: center;
  padding: 12px;
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 550;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}
.header .btn-1 a:hover{
  color: var(--bs-white);
  background-color: var(--bs-border-color);
}

.header .reseau-sociaux{
  position: fixed;
  top: 35%;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  z-index: 999;
}

.header .reseau-sociaux a{
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 550;
  text-decoration: none;
  color: var(--bs-dodgerblue);
  padding: 20px;
  transition: all 0.3s ease-out;
}

.header .reseau-sociaux a:hover{
  background-color: var(--bs-dodgerblue);
  color: var(--bs-white);
}
/* les background des réseaux sociaux */
.facebook,
.instagram,
.linkedln,
.x-twitter,
.github,
.comup{
  background-color: var(--bs-white);
  border: 1px solid var(--bs-border-color);
}

.facebook{
  border-radius: 10px 0 0 0;
}
.comup{
  border-radius: 0 0 0 10px;
}

/* le footer */

.footer{
  width: 100%;
  background-color: var(--bs-border-color);
  padding:50px 0 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer .foot{
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer .foot h2{
  color: var(--bs-dodgerblue);
  text-transform: uppercase;
}

.footer .foot p{
  font-size: 20px;
  font-weight: 500;
  color: var(--bs-black);
  margin-top: 40px;
}

.footer .reseau .res{
  margin-top: 50px;
}

.footer .localisation, .footer .reseau, .footer .apropos{
  width: 30%;
}
.footer .reseau a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--bs-white);
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.350);
  padding: 20px;
}
.footer .reseau a:hover{
  background-color: rgba(0, 0, 0, 0.152);
}
.footer p.copy{
  background-color: var(--bs-dodgerblue);
  margin: 0;
  padding: 30px;
}

/* galerie avec media querrie portfolio*/

#galerie-2{
  position: relative;
  min-height: 100vh;
  background-color: #ddd;
  padding: 30px 0;
}

#galerie-2 h1{
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  margin: 50px 0;
  color:var(--bs-dodgerblue);
}

#galerie-2 .grid-2{
  /* dimension de la grille definir la largeur */
  max-width: 1300px; /* 1 */
  width: 80%;
  height: auto;
  margin: 30px auto;
  display: grid; /* 3 */
  grid-template-columns: repeat(auto-fill, 300px);/* auto-fill créer 
  automatiquement des case de 300px en fonction de la largeur maximal 
  et grid-template-columns créer des colonnes définie en foction des dimensions*/
  justify-content: center;
  grid-gap: 20px;/*Mettre de l'espace entre les cases*/
}
#galerie-2 .grid-2 .grid-bloc1{
  width:300px; /* 2 */
  height:200px;
  border: 5px solid rgba(30, 143, 255, 0.405);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}
#galerie-2 .grid-2 .grid-bloc1 img{
  width:100%; /* 2 */
  height:100%;
  object-fit: cover;
  transition: .2s linear;
}
#galerie-2 .grid-2 .grid-bloc1:hover img{
  transform: scale(1.1);
}

/* zoom sur image */
.grid-zoom{
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1000;
  transition: all .8s ease-out;
}

.grid-zoom span{
  position: absolute;
  top: 90px; right: 20px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 100;
}
.grid-zoom img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -38%);
  width: 750px;
  object-fit: cover;
}

.grid-zoom:target{
  outline: none;
  display: block;
}
@media(max-width:768px){
  .grid-zoom img{
      width: 95%;
  }
  .grid-zoom span{
    top: 120px;
    font-size: 40px;
  }
}

/* fin galerie */




/* Ajout du media queries pour rendre le menu responsive - lorsque l'écran est de 500px de large ou moins, empilez les liens les uns sur les autres */
@media all and (max-width: 1084px) {

  /* responsive menu */
  .nav a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-right {
    float: none;
    position: fixed;
    width: 98%;
    left: -150%;
    background-color: #2c3e50;
    transition: all 0.5s;
  }

  .nav .nav-right a{
    color: var(--bs-white);
  }

  .nav .nav-right a:hover {
    background-color: var(--bs-border-color);
    color: var(--bs-white);
  }

  .nav-gauche{
    width: 100%;
  }

 .nav .check-btn{
    display: block;
    float: right;
  }

  #menu:checked ~ .nav-right{
    left: 0;
  }

  /* header responsive */
  .header h1{
    font-size: 40px;
  }
  
  /* le footer */
  .footer .foot{
    align-items: center;
    flex-direction: column;
  }
  .footer .localisation, .footer .reseau, .footer .apropos{
    width: 80%;
    margin-bottom: 50px;
  }
}

@media all and (max-width: 406px) {
  .nav a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-right {
    float: none;
  }
  .footer .reseau a{
    padding: 10px;
  }
}